<!--LIAM CORELY \\ 2020-->
<!--Base html file -->


{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>Liam Corley</title>

        <!--Favicon-->
        <link rel="apple-touch-icon" sizes="180x180" href="{% static 'Portfolio/assets/img/apple-touch-icon.png' %}">
        <link rel="icon" type="image/png" sizes="32x32" href="{% static 'Portfolio/assets/img/favicon-32x32.png' %}"> 
        <link rel="icon" type="image/png" sizes="16x16" href="{% static 'Portfolio/assets/img/favicon-16x16.png' %}">
        <link rel="manifest" href="{% static 'Portfolio/assets/img/site.webmanifest' %}">
        

        {% block stylesheets %}
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
        integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">        

        <!-- Custom CSS -->
        <link rel="stylesheet" href="{% static 'Portfolio/assets/css/style.css' %}">
        
        {% endblock stylesheets %}

    </head>

    <body>
        <div class = "container-fluid no-gutters">
            <!--NAV-->
            {% include "_nav.html" %}

            <!-- CONTENT -->
            <main class="page-content">
                <div id="overlay" class="overlay"></div>
                    {% block content %}{% endblock content %}
            </main>
        </div>
    </body>

    <!-- JavaScript -->
    {% block scripts %}
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.6/umd/popper.min.js"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
      <script src="https://kit.fontawesome.com/d06b1e8f0a.js" crossorigin="anonymous"></script>

    {% endblock scripts %}

