<!--
LIAM CORELY \\ 2020
_nav html file, displays a navbar with title linking to landing page as well as drop downs for each Department, linking
to each show in that department 
-->



<!-- Navigation -->
{% load static %}

{% block content %}

<nav class="navbar fixed-top navbar-expand-lg">
    <a class="navbar-brand col-md-9" href="\#"><h1 class="text-white">LIAM CORLEY</h1><h5 class = "text-white"> LIGHTING DESIGNER </h3></a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#">PORTFOLIO<span class="sr-only">(current)</span></a>
        </li>
        {% if department_list %}
          {% for dept in department_list %}
          <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                {{dept|upper}}
              </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              {% for show in dept.getShows %}
              <a class="dropdown-item" href="/{{show.id}}">{{show}}</a>
              {% endfor %}
            </div>
          </li>
          {% endfor %}
        {% endif %}
      </ul>
    </div>
</nav>

{% endblock content %}
