{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">

        <title>Liam Corley</title>

        <!--Favicon-->
        <link rel="apple-touch-icon" sizes="180x180" href="{% static 'assets/img/apple-touch-icon.png' %}">
        <link rel="icon" type="image/png" sizes="32x32" href="{% static 'assets/img//favicon-32x32.png' %}">
        <link rel="icon" type="image/png" sizes="16x16" href="{% static 'assets/img//favicon-16x16.png' %}">
        <!--<link rel="manifest" href="{% static 'Portfolio/assets/img/site.webmanifest' %}">-->
        

        {% block stylesheets %}
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
        integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
        <!-- Font awesome CSS -->
        

        <!-- Custom CSS -->
        <link rel="stylesheet" href="{% static 'Portfolio/assets/css/style.css' %}">
        
        {% endblock stylesheets %}

    </head>

    <body>
        <!--NAV-->
        {% include "Portfolio\_nav.html" %}

        <!-- CONTENT -->
        <main class="page-content pt-2 no-gutters">
            <div id="overlay" class="overlay"></div>
                {% block content %}{% endblock content %}
        </main>
  

    </body>

    <!-- JavaScript -->
    {% block scripts %}
      <script src="{% static 'Portfolio/assets/js/jquery-3.2.1.min.js' %}"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"
      integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
      <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"
      integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
      <script src="https://kit.fontawesome.com/d06b1e8f0a.js" crossorigin="anonymous"></script>

    {% endblock scripts %}

