<html>
	<head>
		<title>Liam Corley</title>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>		

		{% load static %}

		<link rel="stylesheet" type="text/css" href="{% static 'Portfolio/style.css' %}">

		<style>
			.carousel-item {
				  height: 100vh;
				  min-height: 350px;
				  background: no-repeat center center scroll;
				  -webkit-background-size: cover;
				  -moz-background-size: cover;
				  -o-background-size: cover;
				  background-size: cover;
			}

	</style>


	</head>
<!-- Navigation -->
		<nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-transparent">
  		<a class="navbar-brand col-md-9" href="#"><h1 class="text-white">LIAM CORLEY</h1><h5 class = "text-white"> LIGHTING DESIGNER </h3></a>

  			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    			<span class="navbar-toggler-icon"></span>
  			</button>

		  <div class="collapse navbar-collapse" id="navbarSupportedContent">
		    <ul class="navbar-nav mr-auto">
		      <li class="nav-item active">
		        <a class="nav-link" href="#">PORTFOLIO <span class="sr-only">(current)</span></a>
		      </li>
		      <li class="nav-item dropdown">
		        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
		          LIGHTING
		        </a>
		        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
		          <a class="dropdown-item" href="#">Action</a>
		          <a class="dropdown-item" href="#">Another action</a>
		          <div class="dropdown-divider"></div>
		          <a class="dropdown-item" href="#">Something else here</a>
		        </div>
		      </li>
		      <li class="nav-item dropdown">
		        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
		          SCENERY
		        </a>
		        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
		          <a class="dropdown-item" href="#">Action</a>
		          <a class="dropdown-item" href="#">Another action</a>
		          <div class="dropdown-divider"></div>
		          <a class="dropdown-item" href="#">Something else here</a>
		        </div>
		      </li>

		    </ul>
		  </div>
		</nav>
<!--CAROUSEL-->
<header>
  <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner" role="listbox">

		{% if show_list %}
		    {% for show in show_list %}
		    	{% if show.sort_order == 1 %}
			      <!-- Slide One - Set the background image for this slide in the line below -->
			      <div class="carousel-item active" style="background-image: url({{show.cover_image.url}})">
			        <div class="carousel-caption d-none d-md-block">
			          <h3 class="display-5">{{show.department}} \\ {{ show.title}}</h3>
			        </div>
			      </div>
				{% else %}
			      <div class="carousel-item" style="background-image: url({{show.cover_image.url}})">
			        <div class="carousel-caption d-none d-md-block">
			          <h3 class="display-5">{{show.department}} \\ {{ show.title}}</h3>
			        </div>
			      </div>
			    {% endif %}
		    {% endfor %}
		{% else %}
		    <p>No polls are available.</p>
		{% endif %}

    </div>
    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
  </div>
</header>
</html>