/* 
LIAM CORLEY \\ 2020 
Main css file

*/


.carousel-item {
  height: 100vh;
  min-height: 350px;
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.no-gutters{
  padding-left: 0%;
  padding-right: 0%;
}

.navbar {
  padding-left: 0%;
  padding-right: 0%;
  padding-top: 0%;
  padding-bottom: 0%;
  background-color: rgba(0,0,0,0.5);
}

.dropdown-item {
  background-color:rgba(0,0,0,0.9);
  color:white;
}
.dropdown-menu{
  padding-top: 0%;
  padding-bottom: 0%;
  background-color:rgba(0,0,0,0.9);
}

a{
  color:white;
}

h4{
  font-size:3vw;
}

.boxed {
  border: 1px;
  background-color: rgba(0,0,0,0.5);
}

.dark-boxed {
  padding-left: 0%;
  padding-right: 0%;
  padding-top: 0%;
  padding-bottom: 0%;
  border: 1px;
  background-color: rgba(0,0,0,0.9);
  width: 30%;
}

.carousel {
  padding-left: 0%;
  padding-right: 0%;
  padding-top: 0%;
  padding-bottom: 0%;
}

.show-title {
  padding-top: 30%;
  color: white;
}

.show-info {
  padding-top: 10%;
  color: white;
}